.classes__container {
    display: flex;
    width: 100%;
    padding-top: 30px;
    align-items: center;
    flex-direction: column;
}

.classes__content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.classes__title {
    margin: 0;
    font-size: 184px;
    position: absolute;
    right: 0px;
    top: -40px;
    color: rgba(0,0,0,.4);
    opacity: .25;
    z-index: -1;
    letter-spacing: -6px;
}

