.home__intro {
  width: 40%;
  padding-top: 15%;
}

.home__button {
  color: white !important;
  border-radius: 25px !important;
  padding: 15px 24px !important;
  background: linear-gradient(45deg, #db162f, #a51c30);
}

.home__button:hover {
  background: linear-gradient(45deg, #ff3c38, #d7263d);
}

.home__title {
  font-size: 50px;
  color: #050305;
  margin: 0;
  padding-bottom: 10px;
}

.home__title--red {
  color: #a51c30;
}

.home__description {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.57);
  line-height: 1.8;
  padding-bottom: 10px;
}

.home__image {
  height: 400px;
  padding-top: 20%;
  padding-left: 200px;
}

.home__image__text__container {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
  justify-content: center;
}

hr {
  display: inline-block;
  height: 1px;
  border: 0;
  border-top: 5px solid #a51c30;
  margin: 0;
  padding: 0px;
  width: 100px;
  margin-top: 20px;
}

.home__image__text__title {
  display: flex;
  justify-content: center;
}

.home__image__text__item {
  margin: 0;
  line-height: 1.5;
  padding-bottom: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.57);
  padding-left: 120px;
  width: 175px;
  font-size: 16px;
}

.home__image__text__item--title {
  color: #050305;
  font-size: 32px;
  padding-left: 20px;
  -webkit-animation-name: shrinkText; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-name: shrinkText;
  animation-duration: 20s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

.home__image__text__item--second {
  -webkit-animation-name: enlargeText; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-name: enlargeText;
  animation-duration: 20s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
.home__image__text__item--third {
  -webkit-animation-name: enlargeText; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-name: enlargeText;
  animation-duration: 20s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
}
.home__image__text__item--fourth {
  -webkit-animation-name: enlargeText; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-name: enlargeText;
  animation-duration: 20s;
  animation-delay: 13s;
  animation-iteration-count: infinite;
}

/* The animation code */
@keyframes shrinkText {
  0%,
  100% {
    font-size: 32px;
    color: #050305;
  }
  25% {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.57);
  }
  50% {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.57);
  }
  75% {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.57);
  }
}

/* The animation code */
@keyframes enlargeText {
  0%,
  100% {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.57);
  }
  25% {
    font-size: 32px;
    color: #050305;
  }
  50% {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.57);
  }
  75% {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.57);
  }
}
