.home__intro {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home__button {
  border-radius: 25px !important;
  padding: 15px 24px !important;
  background: linear-gradient(45deg, #db162f, #a51c30);
  width: 30%;
}

.home__button:hover {
  background: linear-gradient(45deg, #ff3c38, #d7263d);
}

.home__button__link {
  text-decoration: none;
  color: white;
}

.home__title {
  font-size: 50px;
  color: #050305;
  margin: 0;
  padding-bottom: 15px;
}

.home__title--red {
  color: #a51c30;
}

.home__description {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.57);
  line-height: 1.8;
  padding-bottom: 15px;
}

.home__image__container {
  display: flex;
  align-items: flex-end;
}

.home__image {
  height: 440px;
    opacity: 0;
    position: absolute;
    right: 425px;
    bottom: 115px;
}

.home__image--first {
  animation: imageFade 20s ease infinite;
  -webkit-animation: imageFade 20s ease infinite;
}

.home__image--second {
  animation: imageFade 20s ease 5s infinite;
  -webkit-animation: imageFade 20s ease 5s infinite;
}

.home__image--third {
  animation: imageFade 20s ease 10s infinite;
  -webkit-animation: imageFade 20s ease 10s infinite;
}

.home__image--fourth {
  animation: imageFade 20s ease 15s infinite;
  -webkit-animation: imageFade 20s ease 15s infinite;
}

@keyframes imageFade {
  0%,
  25%,
  100% {
    opacity: 0;
    bottom: 115px;
  }
  2.5%,
  22.5% {
    opacity: 1;
    bottom: 135px;
  }
}

.home__image__text__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home__line {
  display: inline-block;
  height: 1px;
  border: 0;
  border-top: 5px solid #a51c30;
  margin: 0;
  padding: 0px;
  width: 0px;
  margin-top: 20px;
}

.home__line--title {
  animation: lineEnlarge 20s ease infinite;
  -webkit-animation: lineEnlarge 20s ease infinite;
}

.home__line--second {
  animation: lineEnlarge 20s ease 5s infinite;
  -webkit-animation: lineEnlarge 20s ease 5s infinite;
}

.home__line--third {
  animation: lineEnlarge 20s ease 10s infinite;
  -webkit-animation: lineEnlarge 20s ease 10s infinite;
}

.home__line--fourth {
  animation: lineEnlarge 20s ease 15s infinite;
  -webkit-animation: lineEnlarge 20s ease 15s infinite;
}

@keyframes lineEnlarge {
  0%,
  25%,
  100% {
    width: 0px;
  }
  2.5%,
  22.5% {
    width: 100px;
  }
}

.home__image__text__title {
  display: flex;
  justify-content: center;
}

.home__image__text__item {
  margin: 0;
  line-height: 1.5;
  padding-bottom: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.57);
  padding-left: 120px;
  width: 175px;
  font-size: 16px;
}

.home__image__text__item--title {
  padding-left: 20px;
  animation: textEnlarge 20s ease infinite;
  -webkit-animation: textEnlarge 20s ease infinite;
}

.home__image__text__item--second {
  animation: textEnlarge 20s ease 5s infinite;
  -webkit-animation: textEnlarge 20s ease 5s infinite;
}
.home__image__text__item--third {
  animation: textEnlarge 20s ease 10s infinite;
  -webkit-animation: textEnlarge 20s ease 10s infinite;
}
.home__image__text__item--fourth {
  animation: textEnlarge 20s ease 15s infinite;
  -webkit-animation: textEnlarge 20s ease 15s infinite;
}

@keyframes textEnlarge {
  0%,
  25%,
  100% {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.57);
    padding-left: 120px;
  }
  2.5%,
  22.5% {
    font-size: 32px;
    color: #050305;
    padding-left: 20px;
  }
}
