.instructors__container {
    display: flex;
    width: 100%;
    padding-top: 30px;
    align-items: center;
    flex-direction: column;
}

.instructors__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instructors__title {
    margin: 0;
    font-size: 184px;
    position: absolute;
    right: 0px;
    top: -40px;
    color: rgba(0, 0, 0, 0.57);
    opacity: .25;
    z-index: -1;
}
