.classes__section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.classes__item__container {
    display: flex;
    justify-content: space-around;
}

.classes__section__title {
    font-size: 50px;
    margin: 0;
    color: #a51c30;
}