.classes__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classes__item__description {
    margin: 0;
    width: 75%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.57);
}