.footer__container {
    width: 80%;
    padding-bottom: 30px;
    margin-top: 50px;
}

.footer__title {
  font-size: 12px;
  font-weight: bold;
}

.footer__list {
  display: flex;
  list-style: none;
}

.footer__item {
  font-size: 12px;
  margin-right: 25px;
  color: rgba(0, 0, 0, .57);
  cursor: pointer;
  text-decoration: none;
}

.footer__item:hover {
  color: #a51c30;
}

ul {
  padding: 0;
  margin: 0;
}
