.footer__container {
    position: absolute;
    bottom: 0;
    width: 75%;
    margin-bottom: 48px;
}

.footer__title {
  font-size: 12px;
  font-weight: bold;
}

.footer__list {
  display: flex;
  list-style: none;
}

.footer__item {
  font-size: 12px;
  margin-right: 25px;
  color: #BBBDC1;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}
