.header__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navbar__item {
  color: #050305;
  margin: 50px 25px 25px 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.navbar__item:hover {
  color: #a51c30;
}

.header__icon--torii {
  color: #a51c30;
}

.header__icon--fist {
  color: #050305;
  color: #050305;
  position: absolute;
  padding-top: 16px;
  margin-left: -22px;
}

.active::after {
  content: '';
  border-bottom: 2px solid #db162f;
  position: absolute;
}

.active--home::after {
  width: 50px;
  transform: translate(-45px, 9px);
}

.active--about::after {
  width: 75px;
  transform: translate(-69px, 9px);
}

.active--classes::after {
  width: 66px;
  transform: translate(-60px, 9px);
}

.active--instructors::after {
  width: 85px;
  transform: translate(-79px, 9px);
}

.active--contact::after {
  width: 85px;
  transform: translate(-79px, 9px);
}
